<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AudioIndicatorBars.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AudioIndicatorBarsTvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>988772001D8C24A2007BA3D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>988772091D8C24A2007BA3D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>988772301D8C27A3007BA3D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>988772381D8C27A3007BA3D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9887724C1D8C2DBD007BA3D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>988772541D8C2DBD007BA3D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>988772681D8C2E36007BA3D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
